{% extends "html/template.html" %}

{% block content %}

<div class="about">
	<h1 style="color:#e32015;">About Us</h1>
	<div class="card">
		<img src="../../static/images/index.jpeg">
		<h1>Bharath</h1>
		<div class="content">
			I am the Developer...I create things
		</div>
	</div>
	<div class="card" style="float: right;">
		<img src="../../static/images/siv.jpeg">
		<h1>Sivakalirajan</h1>
		<div class="content">
			I am the Tester....I make sure things don't break.
		</div>
	</div>
</div>

{% endblock %}
